*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    margin-bottom: 0;
}
li{
    list-style: none;
}
a{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    min-height: 70px;
    
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;   
    .btn{
        width: 175px;
        height: 55px;
        background: #FF7143;
        border-radius: 10px;
        color:white;
        margin-left: 25px;
    }   
}
.nav-item{
    position: relative;
}
.nav-link{
    color: #696871;
    font-family: 'DMSans';
    font-size: 18px;
    line-height: 18px;
}
.bottomline{
    width: 100%;
    height: 3px;    
    background-color:#5454D4;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 28px;
    transform: scale(0);
    transition: all 1.5 ease;
}
.nav-item:hover{
    .bottomline{
        transform: scale(1);
    }
    .nav-link{
    color: black;
    }
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

// Responsive Navbar 
@media (max-width:991px) {
    .hamburger{
        display: block;
        z-index: 100;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: absolute;
        left: -1000px;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: all 0.5s;
        button{
            margin-bottom: 15px;
        }
    }
    .nav-item{
        a{
            color: #FFFFFF;
        }
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}



// HEAD 
.head{
    margin: 100px 0 0 0;
    .head__one{
        z-index: -1;
        h1{
            font-family: 'Poppins', sans-serif;
            font-size: 80px;
            line-height: 87px;
            letter-spacing: -2.50105px;
            color: #19191B;
        }
        p{
            font-family: 'Mulish', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.625263px;
            color: #696871;
            margin: 25px 0 50px 0;
        }
        .started{
            width: 175px;
            height: 55px;
            background: #5454D4;
            border-radius: 10px;
            font-family: 'Poppins', sans-serif;
            font-size: 17px;
            color: #FFFFFF;
            margin: 0;
            cursor: pointer;

        }
        .arrow-down{
            height: 55px;
            width: 55px;
            background: #FFFFFF;
            border: 1px solid #E7E7E7;
            border-radius: 50%;
            margin-left: 35px;
            img{
                text-align: center;
            }
        }
    }
    .head__two{
        z-index: -1;
        img{
            width: 580px;
            height: 604px;
        }
    }
}


// Logos
.logos{
    margin: 50px 100px 100px 0;
    padding: 20px;
    .row{
        display: flex;
        justify-content: space-between;
    }
}

// Index 
.index{
    margin: 100px 0 0 0;
    .row{
        display: flex;
        align-items:center;
        .index__one{
            h1{
                font-family: 'Poppins';
                font-size: 47px;
                line-height: 50px;
                color: #19191B;
                margin-bottom: 45px;
            }
            .index__two{
                height: 180px;
                p{
                    font-family: 'Mulish', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: -0.625263px;
                    color: #696871;
                }
                .read_more_btn{
                    font-family: 'Poppins', sans-serif;
                    font-size: 17px;
                    font-weight: bold;
                    color: #5454D4;
                    cursor: pointer;
                }
            }
        }
    }
}
.read_more_text{
    display: none;
}
.read_more_text_show{
    display: inline;
}

// Metric 
.metric{
    margin: 70px 0 70px 0;
    .row{
        display: flex;
        align-items: center;
        .metric_text{
            display: inline-block;
            align-items: center;
            h1{
                font-family: 'Poppins';
                font-size: 50px;
                line-height: 50px;
                color: #19191B;
                margin-bottom: 45px;
            }
            .index__three{
                height: 180px;
                p{
                    font-family: 'Mulish', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: -0.625263px;
                    color: #696871;
                }
                .read_more_btn{
                    font-family: 'Poppins', sans-serif;
                    font-size: 17px;
                    font-weight: bold;
                    color: #5454D4;
                    cursor: pointer;
                }
            }
        }
        .metric_image{
            text-align: center;
        }
    }
}

// Boxs 
.boxs{
    .row{
        .box{
            text-align: center;
            margin: 15px 0;
            img{
                width: 90px;
                height: 55px;
                margin-bottom: 15px;
                margin-left: 5px;
            }
            h2{
                font-family: 'Poppins', sans-serif;
                font-size: 22px;
                color: #19191B;
                margin-bottom: 15px;
                font-size: larger;
            }
        }
    }
}

// Future 
.future{
    margin: 100px 0;
    .row{
        .col-6{
            h1{
                font-family: 'Poppins', sans-serif;
                font-size: 60px;
                line-height: 70px;  
                letter-spacing: -1.87579px;
                color: #19191B;
            }
        }
        // .form_btn{
        //     width: 220px;
        //     margin: 35px auto;
        //     position: relative;
        //     border-radius: 10px 0px 0px 10px;
        //     #change_btn{
        //         left: 0;
        //         right: 0;
        //         position: absolute;
        //         width: 100px;
        //         height: 40px;
        //         background: #5454D4;
        //         border-radius: 10px 0px 0px 10px;
        //         transition: .5s;
        //     }
        //     .toggle_btn{
        //         padding: 10px 40px;
        //         cursor: pointer;
        //         border: 0;
        //         position: relative;
        //         background: #F7F7FB;
        //     }
        // }
        .form_btn{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items:center;            
            .toggle_btn:nth-child(2){
                width: 150px;
                height: 55px;
                background: #5454D4;
                border-radius: 10px 0px 0px 10px;
                font-family: 'Mulish', sans-serif;
                font-size: 16px;
                color: #FFFFFF;
            }
            .toggle_btn:nth-child(3){
                width: 150px;
                height: 55px;
                background: #F7F7FB;
                border-radius: 0px 10px 10px 0px;
                font-family: 'Mulish', sans-serif;
                font-size: 16px;
                color: #000000;
            }
        }
    }
}

// Footer 
.footer{
    margin: 100px 0;
    .row{
        display: flex;
        align-items:center;
        justify-content: space-between;
        .footer_box{
            width: 330px;
            text-align: center;
            background: #F8F8F8;
            border-radius: 10px;
            padding: 25px 0;
            transform: scale(1.1);
            transition: all 0.5s ease;
            z-index: -100;
            h1{
                font-family: 'Poppins', sans-serif;
                font-size: 50px;
                line-height: 56px;
                text-align: center;
                letter-spacing: -1.03448px;
                color: #1D293F;
            }
            p{
                font-family: 'Mulish', sans-serif;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                color: #696871;
                margin: 15px 0; 
            }
            button{
                width: 80%;
                height: 50px;
                font-family: 'Poppins', sans-serif;
                background: #696871;
                border: 1px solid #EAE9F2;
                border-radius: 10px;
                font-size: 17px;
                font-weight: 600;
                color: #1D293F;                
            }
        }
        .footer_box:hover{
            transform: scale(1.14);
            background: #FF7143;
            box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
            z-index: 100;
            h1{
                color:#F7F7FB;
            }
            p{
                color: #FFFFFF;
            }
            button{
                background: #9F3919;
                color: #FFFFFF;
                transform: scale(1);
            }
        }
        .footer_box button:hover{
            transform: scale(1.009);
        }
    }
}




// Responsive 

@media (min-width:991px ) and (max-width: 1200px) {
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;   
        .btn{
            width: 170px;
            height: 55px;
            background: #FF7143;
            border-radius: 10px;
            color:white;
        }   
    } 
    .head{
        .head__two{
            img{
                width: 450px;
                height: 504px;
            }
        }
    }
    .index{
        .index__image{
            img{
                width: 450px;
                height: 504px;  
            }
        }
    }

    .metric{
        .metric_image{
            img{
                width: 450px;
                height: 504px;  
            }
        }
    }

    .footer{
        .row{
            .col-12{
                text-align: center;
                .footer_box{
                    margin: 35px auto;
                }
            }
        }
    }
}
 
@media (min-width:991px) and (max-width: 1200px) {
    .footer{
        .row{
            .col-12{
                margin: 0 auto;
            }
        }
    }
}

@media (min-width:576px) and (max-width:991px) {
    .head{
        .head__two{
            z-index: 100;
            text-align: center;
            img{
                position: relative;
                top: 50px;
                width: 470px;
                height: 504px; 
            }
        }
    }
    .index{
        .index__image{
            text-align: center;
            img{
                width: 320px;
                height: 404px; 
            }
        }
        .index__one{
            margin-top: 25px;
        }
    }
    .metric{
        .metric_text{
            margin-bottom: 25px;
        }
        .metric_image{
            img{
                width: 320px;
                height: 404px;   
            }
        }
    }

    .footer{
        .row{
            .col-12{
                text-align: center;
                .footer_box{
                    margin: 35px auto;
                }
            }
        }
    }
}

@media (max-width:576px){
    .head{
        margin-bottom: -70px;
        .head__one{
            h1{
                font-size: 60px;
            }
        }
        .head__two{
            text-align: center;
            img{
                position: relative;
                top: 50px;
                width: 380px;
                height: 390px; 
            }
        }
    }
    .logos{
        .row{
            display: block;
            align-items:center;
            justify-content: space-between;
            margin-left: 100px;
            .col-4{
                display: block;
                align-items:center;
                margin: 45px 0 45px 0;
            }
        }
    }
    .index{
        .index__image{
            text-align: center;
            img{
                width: 300px;
                height: 404px;  
            }
        }
        .index__one{
            margin-top: 30px;
        }
    }
    .metric{
        .metric_text{
            margin-bottom: 30px;
        }
        .metric_image{
            text-align: center;
            img{
                width: 300px;
                height: 404px; 
            }
        }
    }
    .future{
        .row{
            .col-12{
                margin-bottom: 25px;
            }
        }
    }
    .footer{
        .row{
            .col-12{
                text-align: center;
                .footer_box{
                    margin: 35px auto;
                }
            }
        }
    }
}